/* Start at 80% zoom (for full visibility) */
html {
	transform(scale, 0.8);
}

body {
    text-align: center;
}
.title {

}
.instructions {
	margin: auto;
	text-align: center;
	font-size: 20px;
	width: 75%;
}
.scoreboard {
	font-size: 22px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 0;
}
.gameCanvas {
	margin: 0;
}
footer {
	font-style: italic;
	margin-bottom: 25px;
}